html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
@media screen and (max-width: 1496px) {
  .container {
    max-width: 1120px;
  }
}
@media screen and (max-width: 727px) {
  .container {
    max-width: 560px;
  }
}
.header-navbar {
  margin-top: 50px;
}
.header-navbar-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 100px;
}
.header-navbar-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 727px) {
  .header-navbar-action {
    display: none;
  }
}
.header-navbar-action-list {
  display: flex;
  gap: 30px;
  margin-right: 140px;
}
ul li {
  list-style: none;
}
.navbar-item a {
  color: black;
  font-size: 1.4rem;
  padding: 8px 0;
}
.header-navbar-action-search {
  position: relative;
  height: 40px;
}
.header-navbar-action-search input {
  border: none;
  width: 150px;
  padding: 15px 40px 15px 40px;
  font-size: 1.6rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
}
input,
textarea,
select {
  outline: none;
}
.header-navbar-action-search::after {
  position: absolute;
  right: 2px;
  top: -22px;
  content: "2";
  width: 28px;
  height: 28px;
  font-size: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdfdfd;
  background: #f54b4b;
  box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
}
.header-navbar-action-search span:first-child {
  left: 5px;
  position: absolute;
  font-size: 1.6rem;
  padding: 10px;
}
.header-navbar-action-search span:last-child {
  right: 6px;
  bottom: 1px;
  position: absolute;
  font-size: 2rem;
  padding: 8px 15px;
}
.navbar-icon {
  display: none;
  font-size: 2.4rem;
  padding: 2px 14px;
  color: #777;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 2px;
}
@media screen and (max-width: 727px) {
  .navbar-icon {
    display: inline-block;
  }
}
/* banner */
.header-banner-inside {
  display: flex;
  margin-top: 100px;
}
@media screen and (max-width: 727px) {
  .header-banner-inside {
    flex-direction: column;
  }
}
.header-content {
  width: 50%;
  padding: 0 12px 0 0;
}
@media screen and (max-width: 727px) {
  .header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header-content-top {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 23px;
  padding: 12px 16px;
  background: #fdecec;
}
.header-content-top span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #e43f3f;
}
.header-content-top img {
  margin-left: 5px;
  text-align: center;
}
@media screen and (max-width: 727px) {
  .header-left-top img {
    margin-left: 2px;
  }
}
.header-content-title {
  font-size: 7.5rem;
  line-height: 1.2;
  font-weight: 700;
  color: #1c1c1c;
  margin-top: 16px;
}
@media screen and (max-width: 727px) {
  .header-content-title {
    text-align: center;
    font-size: 4.8rem;
  }
}

.header-content-title span {
  font-weight: 500;
  color: #ff3232;
}
.header-content-para {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 30px;
  max-width: 80%;
  margin-top: -20px;
  color: #5f5f5f;
}
@media screen and (max-width: 767px) {
  .header-content-para {
    text-align: center;
    font-size: 1.5rem;
    max-width: 100%;
    margin-top: 0;
  }
}

.header-button-row {
  display: flex;
  margin-top: 50px;
}
.header-button-row-right {
  display: flex;
  margin-left: 10px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 180px;
  font-size: 2rem;
  border-radius: 12px;
  padding: 25px 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #f86061;
  border: 1px solid transparent;
}
.header-btn-process {
  color: #000;
  background: #fff;
}

.header-img {
  width: 50%;
  padding: 0 12px;
}

@media screen and (max-width: 727px) {
  .header-img {
    width: 100%;
  }
}
.header-img img {
  width: 100%;
}
/* SERVICE */
.service {
  padding: 100px 0;
  margin-top: 120px;
  background: #fef5f5;
}

.service-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;
  color: #ff4141;
  text-align: center;
}
.service-heading {
  text-align: center;
  font-size: 4rem;
  line-height: 50px;
  font-weight: 700;
  margin-top: 8px;
  color: #1c1c1c;
}
.service-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 66px;
}
@media screen and (max-width: 727px) {
  .service-row {
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
}
.service-box {
  position: relative;
}
.service-content {
  position: relative;
  width: 90%;
  padding: 60px 26px;
  border-radius: 12px;
  background: #fff;
  z-index: 2;
}
.service-content-img img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: auto;
}
.service-content-title {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  margin-top: 50px;
  color: #1c1c1c;
}
.service-content-para {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #676767;
}
.service-content {
  z-index: 20;
  position: relative;
}
.service-content-bg {
  position: absolute;
  width: 100%;
  height: 350px;
  background: #fe6a6a;
  border-radius: 12px;
  left: 28px;
  z-index: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.service-box:hover .service-content-bg {
  opacity: 1;
  left: 38px;
  top: -3px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* Feature */
.feature-wrap {
  display: flex;
}
@media screen and (max-width: 727px) {
  .feature-wrap {
    flex-direction: column;
  }
}
.feature-img {
  width: 60%;
}
@media screen and (max-width: 991px) {
  .feature-img {
    width: 100%;
  }
}
.feature-img img {
  width: 100%;
}
.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 0 12px;
}
@media screen and (max-width: 727px) {
  .feature-content {
    width: 100%;
    margin-top: 80px;
    align-items: center;
  }
}
.feature-content-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;
  color: #03a66b;
}
.feature-content-heading {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 10px;
  max-width: 90%;
  color: #2e2e2e;
}
@media screen and (max-width: 727px) {
  .feature-content-heading {
    text-align: center;
  }
}
.feature-content-para {
  font-size: 1.8rem;
  max-width: 70%;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0px;
  color: #676767;
}
@media screen and (max-width: 727px) {
  .feature-content-para {
    text-align: center;
  }
}
.feature-content-btn {
  align-items: center;
  margin-top: 36px;
  width: 200px;
  height: 70px;
  font-size: 2rem;
}
/* feature 2 */
@media screen and (max-width: 727px) {
  .feature-2 .feature-wrap {
    flex-direction: column-reverse;
  }
}
.feature-2 .feature-content {
  width: 50%;
}
@media screen and (max-width: 727px) {
  .feature-2 .feature-content {
    width: 100%;
  }
}
.feature-2 .feature-img {
  width: 50%;
}
@media screen and (max-width: 727px) {
  .feature-2 .feature-img {
    width: 100%;
  }
}
.feature-2 {
  padding: 50px 0;
}
.feature-2 .feature-content-title {
  color: #f9ba45;
}
/* download */
.download-wrap {
  display: flex;
}
@media screen and (max-width: 727px) {
  .download-wrap {
    flex-direction: column;
    align-items: center;
  }
}

.download-img {
  display: flex;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 727px) {
  .download-img {
    width: 100%;
  }
}
.download-img img {
  display: block;
}
.download {
  padding: 100px 0;
  background: #fef5f5;
}
.download-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 12px;
}
@media screen and (max-width: 727px) {
  .download-content {
    width: 100%;
    margin-top: 80px;
    align-items: center;
  }
}
.download-content-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;

  color: #f54748;
}
.download-content-heading {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 10px;
  max-width: 90%;
  color: #2e2e2e;
}
@media screen and (max-width: 727px) {
  .download-content-heading {
    text-align: center;
  }
}
.download-content-para {
  font-size: 1.8rem;
  max-width: 80%;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0px;

  color: #676767;
}
@media screen and (max-width: 767px) {
  .download-content-para {
    text-align: center;
  }
}
.download-row {
  display: flex;

  gap: 15px;
  margin-top: 32px;
}
.download-content-btn {
  margin-top: 36px;
  width: 200px;
  height: 82px;
  border: 1px solid #ccc;
  background: transparent;
  color: #000;
  font-size: 2rem;
}
.download-content-btn img {
  margin-left: -20px;
}

.download-content-btn span {
  margin-left: 20px;
}
/* footer */
.footer {
  padding: 70px 0 0 0;
}
/* footer top */
.footer-top {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
@media screen and (max-width: 727px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
}
.footer-logo-wrap {
  padding: 0 12px;
  width: 350px;
}
@media screen and (max-width: 727px) {
  .footer-logo-wrap .logo {
    margin-right: -50px;
  }
  .footer-logo-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.logo-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #676767;
}
@media screen and (max-width: 727px) {
  .logo-text {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }
}
.footer-row {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
@media screen and (max-width: 727px) {
  .footer-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 727px) {
  .footer-content {
    text-align: center;
    margin-top: 30px;
  }
}
.footer-content-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 20px;
  padding-left: 40px;
  text-align: left;
  color: #2e2e2e;
}
@media screen and (max-width: 727px) {
  .footer-content-title {
    text-align: center;
  }
}
.footer-content-list a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 40px;
  color: #676767;
}
.footer-content-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  padding-left: 40px;
  max-width: 270px;
  color: #888;
}
a {
  text-decoration: none;
}
/* footer bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;
  margin-top: 50px;
}
.footer-copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;

  color: #8c8c8c;
}
.footer-condition {
  display: flex;
  gap: 30px;
}
.footer-condition-link {
  font-size: 1.4rem;
  line-height: 24px;
  font-weight: 500;
  color: #747474;
}
