// $a: "f8";
// $b: 10;
// $c: 50;
// $d: color;
// .box {
//   font-size: #{$b}px;
//   width: #{$c + 0%};
//   #{$d}: #ccc;
// }
// #{"." + a} {
//   width: 120%;
// }
// Vòng lặp là cú pháp trong lập trình cho phép lặp đi lặp lại 1 đoạn chương trình
// @for
// @while --> ít dùng
// @each
// @for $i from 1 through 12 {
//   @if $i%2 == 0 {
//     .col-#{$i} {
//       width: 100%/ (12 / $i);
//     }
//   }
// }
// -------------
// $sizes: 30, 50, 70; //Array
// $index: 0;
// @each $size in $sizes {
//   $index: $index + 1;
//   .item-#{$size} {
//     @if $index == length($sizes) {
//       width: 100%;
//     } @else {
//       width: 2 * $size + 0%;
//     }
//   }
// }
// -----------
$sizes: (small, normal, 40) (regular, bold, 60) (large, 900, 80);
@each $type, $weight, $size in $sizes {
  .#{type} {
    font-weight: $weight;
    width: #{$size}px;
  }
}
$sizes: (
  small: 40,
  regular: 60,
  large: 80,
);
@each $type, $size in $sizes {
  .column-#{$type} {
    width: #{$size}px;
  }
}
