* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
.banner {
  width: 100%;
  margin: 20px auto;
  position: relative;
}
img {
  width: 100%;
}
.overview {
  margin: 15px 0;
  color: #83786d;
}
.location {
  color: #83786d;
}

.banner-sub {
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 42%;
  padding: 30px 0px 50px 30px;
  line-height: 1.5;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.703);
}
h2 {
  color: #bf4240;
  font-size: 30px;
}

.price {
  width: 150px;
  position: absolute;
  right: 40px;
  bottom: 0;
  transform: translateY(50%);
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  color: white;
  background-color: #dd5e56;
}
