* {
  box-sizing: border-box;
}

form {
  text-align: center;
}

h2,
input {
  font-family: "Bebas Neue", sans-serif;
}

h3,
button {
  font-family: "Alfa Slab One", serif;
}

h2,
h3 {
  color: #492f1e;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.row {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

input,
button {
  padding: 10px;
  width: 300px;
}

button {
  background: #9e322a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
