body {
  margin: 0;
  font-family: system-ui;
}

.box {
  position: relative;
  width: 400px;
  height: 300px;
  font-size: 50px;

  margin: 0 auto;
}

.box span {
  background: red;
  position: absolute;
  display: block;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  translate: -50% -50%;
}
