* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
.box {
  width: 400px;
  border: 1px solid red;
  margin: 30px auto;
  overflow: hidden;
  float: left;
}
.box img {
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 20px;
  shape-outside: ellipse();
  border-radius: 50%;
}
