* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
body {
  width: 100%;
  height: fit-content;
  background-color: #ebf5fe;
  display: flex;
  justify-content: space-evenly;
}
section {
  width: fit-content;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}
section .items:hover {
  border: 2px solid #e8584d;
  cursor: pointer;
}

.row {
  width: 1130px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.items {
  width: 360px;
  height: 230px;
  padding: 30px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px #aeaeae;
}

.item-header {
  position: relative;
  width: 100%;
  height: fit-content;
}
.icons {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  position: relative;
  box-shadow: 1px 1px 1px 1px #c6c6c6;
}

.row .item-1 .icons {
  background-image: linear-gradient(90deg, #e45f76, #e3745d);
}
.row .item-2 .icons {
  background-image: linear-gradient(90deg, #52a9a3, #68d6ce);
}
.row .item-3 .icons {
  background-image: linear-gradient(90deg, #e18631, #f6d174);
}
.row .item-4 .icons {
  background-image: linear-gradient(90deg, #346dcf, #6a8ef1);
}
.row .item-5 .icons {
  background-image: linear-gradient(90deg, #7728ce, #b357e8);
}
.row .item-6 .icons {
  background-image: linear-gradient(90deg, #6d8f30, #8ebf51);
}

.fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2.5rem;
  color: #ffffff;
}

h3 {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 2rem;
}

p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1.6rem;
  color: #666666;
}
.btn {
  font-size: 1.6rem;
  font-weight: 900;
  background-color: white;
  color: #1551df;
  border: 0;
  cursor: pointer;
}
