/*
width, height --> Không áp dụng với inline
Đơn vị % --> Tỷ lệ với thành phần cha
Đơn vị vw --> viewport width
Đơn vị vh --> viewport height

Ngoại lệ: Các thẻ inline-replace sử dụng được width, height hoặc các thẻ liên quan đến form (Bởi vì có sự can thiệp của trình duyệt)

Thuộc tính:
- max-width
- max-height
- min-width
- min-height
*/
/* body {
  height: 2000px;
}
.main {
  height: 300px;
  width: 400px;
  background: yellow;
}
.box {
  width: 50%;
  height: 100vh;
  background: gainsboro;
} */

.image {
  width: 300px;
  border: 1px solid red;
  /* line-height: 0; */
  /* font-size: 0; */
}

.image img {
  max-width: 100%;
  min-width: 50%;
  /* display: block; */
}

.image:hover {
  /* opacity: 0; */
  /* filter: opacity(50%); */
  filter: grayscale(100%);
}

.map {
  filter: brightness(114%) hue-rotate(90deg) saturate(216%) contrast(209%)
    invert(23%);
}

.map iframe {
  width: 100%;
  height: 400px;
}
