.manager {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
  }
  .manager-inside {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .manager-title {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 105px;
    }
    .manager-title h2 {
      padding-left: 320px;
      padding-right: 321px;
      color: var(--content, #2c2c2c);
      text-align: center;
      font-family: Inter;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%; /* 41.649px */
    }
    .manager-title p {
      padding-left: 278px;
      padding-right: 278px;
      color: var(--Content, #2c2c2c);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px; /* 127.604% */
    }
    .achievement {
      padding-left: 82.5px;
      padding-right: 82.5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      position: relative;
      .ellipse-5 {
        position: absolute;
        top: -90.5px;
        left: -35px;
        z-index: -1;
      }
      .ellipse-6 {
        position: absolute;
        bottom: -90.5px;
        right: -35px;
        z-index: -1;
      }
      .trust {
        width: 95%;
        height: 337.5px;

        border-radius: 3.333px;
        background: var(--white, #f02222);
        box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 28px;
        .trust-bg-logo {
          border-radius: 10px;
          background: var(--orange-100, #fff0e7);
          width: 83.333px;
          height: 83.333px;
          flex-shrink: 0;
          margin-top: 60px;
          margin-left: 33px;
          display: flex;
          justify-content: center;
        }

        span {
          width: 89%;
          color: var(--Content, #2c2c2c);
          font-family: Inter;
          font-size: 43.333px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          margin-left: 33px;
          padding-right: 38px;
        }
        p {
          color: var(--Content, #2c2c2c);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.833px; /* 154.167% */
          width: 89%;
          margin-left: 33px;
          padding-right: 38px;
        }
      }
      .service {
        border-radius: 3.333px;
        background: var(--white, #08c781);
        box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
        width: 111%;
        height: 392.5px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .service-bg-logo {
          width: 83.333px;
          height: 83.333px;
          flex-shrink: 0;
          border-radius: 10px;
          background: var(--Green-100, #f2ffec);
          margin-top: 60px;
          margin-left: 33px;
          display: flex;
          justify-content: center;
        }

        span {
          width: 89%;
          color: var(--Content, #2c2c2c);
          font-family: Inter;
          font-size: 43.333px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          margin-left: 33px;
          padding-right: 38px;
        }
        p {
          color: var(--Content, #2c2c2c);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.833px; /* 154.167% */
          width: 89%;
          margin-left: 33px;
          padding-right: 15px;
        }
      }
      .coverage {
        margin-top: 28px;
        border-radius: 3.333px;
        background: var(--white, #000fdc);
        box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
        width: 95%;
        height: 337.5px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-left: 45px;
        .trust-bg-logo {
          border-radius: 10px;
          background: var(--orange-100, #fff0e7);
          width: 83.333px;
          height: 83.333px;
          flex-shrink: 0;
          margin-top: 60px;
          margin-left: 33px;
          display: flex;
          justify-content: center;
        }

        span {
          width: 89%;
          color: var(--Content, #2c2c2c);
          font-family: Inter;
          font-size: 43.333px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          margin-left: 33px;
          padding-right: 38px;
        }
        p {
          color: var(--Content, #2c2c2c);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.833px; /* 154.167% */
          width: 89%;
          margin-left: 33px;

          padding-right: 38px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .manager {
    .manager-inside {
      .achievement {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .ellipse-6 {
    display: none;
  }
  .ellipse-5 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .manager {
    .manager-inside {
      .manager-title {
        h2 {
          font-size: 300%;
          padding: 0 100px;
        }
        p {
          font-size: 150%;
          padding: 0 100px;
        }
      }
      .achievement {
        display: flex;
        margin-right: 0px;
        align-items: center;
        .trust {
          span {
            font-size: 23px;
          }
          p {
            font-size: 15px;
          }
        }
        .coverage {
          margin-left: 0;
          span {
            font-size: 23px;
          }
          p {
            font-size: 15px;
          }
        }
        .service {
          margin-left: -20px;
          span {
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .manager {
    .manager-inside {
      .achievement {
        display: flex;
        margin-right: 0px;
        align-items: center;
        flex-direction: column;
        .trust {
          span {
            font-size: 43px;
          }
          p {
            font-size: 20px;
          }
        }
        .coverage {
          margin-left: 0;
          span {
            font-size: 43px;
          }
          p {
            font-size: 20px;
          }
        }
        .service {
          width: 85%;
          margin-left: 28px;
          span {
            font-size: 43px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
