.protect {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    width: 100%;
  }
  .protect-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .feature-bg {
      border-radius: 8.333px;
      background: var(--orange-100, #fff0e7);
      width: 127%;
      height: 360.833px;
      flex-shrink: 0;
      position: absolute;
      z-index: -1;
      bottom: -115px;
    }
    h2 {
      color: var(--content, #2c2c2c);
      text-align: center;
      font-family: Inter;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%; /* 41.649px */
    }
    p {
      margin-top: 24px;
      color: var(--content, #2c2c2c);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px; /* 127.604% */
      width: 745px;
      height: 53.333px;
      flex-shrink: 0;
    }
    .feature {
      width: 100%;

      flex-shrink: 0;

      display: flex;
      gap: 25px;
      justify-content: center;
      align-items: center;
      .feature-items {
        border-radius: 8.333px;
        background: var(--white, #fff);
        width: 90.25%;
        height: 359.167px;
        flex-shrink: 0;
        .description {
          width: 81%;
          height: 75px;
          flex-shrink: 0;
          margin-top: 24px;
          h5 {
            color: var(--orange-700, #e05000);
            text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 26.667px; /* 133.333% */
            width: 100%;
            padding-left: 27.5px;
          }
          p {
            width: 115%;
            height: 41.667px;
            flex-shrink: 0;
            color: var(--content, #19191b);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.417px; /* 127.604% */
            margin: 0;
            padding-left: 27.5px;
            text-align: left;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .protect {
    .protect-inside {
      .feature {
        align-items: center;
        width: 100%;
        margin-left: 15px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .protect {
    .protect-inside {
      .feature {
        flex-direction: column;
      }
    }
  }
}
