.welcome {
  display: flex;
  justify-content: center;
  height: 800px;

  .container {
    width: 100%;
  }
  .welcome-inside {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .text-introduce {
      width: 86%;
      height: 275.833px;
      position: relative;
      left: 0;
      top: 18rem;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 36.667px;
        font-style: normal;
        font-weight: 800;
        line-height: 131.523%; /* 48.225px */
      }
      span {
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 43.333px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      p {
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.417px; /* 127.604% */
      }
    }
    .background {
      width: 47%;
      height: 708.333px;
      position: absolute;
      right: 0;
      border-radius: 16.667px 0px 0px 16.667px;
      background: var(--green-200, #dcffca);
    }
    .img-chop {
      position: absolute;
      z-index: 1;
      left: 62rem;
      top: 8rem;
      display: flex;
      align-items: center;

      img {
        height: 719px;
      }
    }
    .text-chop {
      width: 47%;
      transform: rotate(90deg);
      color: var(--green-1000, #216000);
      font-family: Inter;
      font-size: 166.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 166.667px */
      opacity: 0.15;
      position: absolute;
      z-index: 1;
      right: -20rem;
      top: 35rem;
    }
  }
}
@media screen and (max-width: 1400px) {
  .text-chop {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .welcome {
    .welcome-inside {
      .text-introduce {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;

        span {
          font-size: 410%;
        }
        h2 {
          font-size: 400%;
        }
        p {
          font-size: 200%;
          line-height: 120%;
        }
      }
      .background {
        display: none;
      }
      .img-chop {
        img {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .welcome {
    .welcome-inside {
      .text-introduce {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        span {
          font-size: 210%;
        }
        h2 {
          font-size: 300%;
          padding: 0 30px;
          text-align: center;
        }
        p {
          font-size: 150%;
          line-height: 120%;
          text-align: center;
          padding: 0 10%;
        }
      }
      .background {
        display: none;
      }
      .img-chop {
        img {
          display: none;
        }
      }
    }
  }
}
