//Import Partials
@import "partials/variables";
@import "partials/reset";
@import "partials/mixin";
@import "partials/placeholder";
@import "partials/base";
@import "./root";
//Import Components
@import "components/header";
@import "components/footer";

//Import Page
//1. Home
@import "pages/home/welcome";
@import "pages/home/manager";
@import "pages/home/products";
@import "pages/home/news";
@import "pages/home/protect";
// @import "pages/home/outstand";
// @import "pages/home/contact";
// @import "pages/home/footer";
// @import "pages/home/posts";

//2. About
@import "pages/about/about";

// ---------------------------
body {
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
}
.navbar {
  display: flex;
  width: 100%;
  height: 108.333px;
  justify-content: center;
  background: var(--white);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  .container {
    width: 100%;
  }

  .navbar-inside {
    display: flex;
    align-items: center;
    width: 100%;
    .logo {
      img {
        background-size: cover;
        width: 105px;
      }
    }
    .menu {
      display: inline-flex;
      align-items: center;
      gap: 50px;
      padding-left: 20%;
      .item-1 {
        display: inline-flex;
        align-items: center;
        gap: 50px;
      }
      .item {
        color: var(--content, #2c2c2c);
        font-family: Inter;
        font-size: 16.667px;
        font-style: normal;
        font-weight: 600;
        line-height: 21.667px; /* 130% */
      }
      .tbars {
        display: none;
        font-size: 130%;
      }
      .cart-link {
        position: relative;
        .cart-number {
          width: 13.333px;
          height: 13.333px;
          flex-shrink: 0;
          fill: var(--orange-700, #e05000);
          background-color: #e05000;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -0.3rem;
          left: 2rem;
        }

        p {
          color: var(--white, #fff);
          font-family: Inter;
          font-size: 10.833px;
          font-style: normal;
          font-weight: 500;
          line-height: 20.417px; /* 188.462% */
          width: 7.333px;
          height: 16.667px;
          flex-shrink: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    .navbar-inside {
      .menu {
        padding-left: 5%;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    #checkbox:checked ~ .navbar-inside .item-1 {
      transform: translateY(0px);
    }
    .navbar-inside {
      .menu {
        padding-left: 70%;
        .item-1 {
          position: absolute;
          display: flex;
          flex-direction: column;
          background: #e05000;
          top: 75px;
          right: 0;
          width: 100%;
          transform: translateY(-400px);
        }
        .tbars {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    #checkbox:checked ~ .navbar-inside .item-1 {
      transform: translateY(0px);
    }
    .navbar-inside {
      .menu {
        .cart-link {
          display: none;
        }
        .items {
          display: none;
        }
        .item-1 {
          position: absolute;
          display: flex;
          flex-direction: column;
          background: #e05000;
          top: 75px;
          right: 0;
          width: 100%;
          transform: translateY(-400px);
        }
        .tbars {
          display: block;
          position: absolute;
          right: 30px;
        }
      }
    }
  }
}
