//Import Partials
@import "partials/variables";
@import "partials/reset";
@import "partials/mixin";
@import "partials/placeholder";
@import "partials/base";
@import "./root";
//Import Components
@import "components/header";
@import "components/footer";

//Import Page
//1. Home
@import "pages/home/carousel";
@import "pages/home/products";
@import "pages/home/posts";

//2. About
@import "pages/about/about";

// ---------------------------
.container {
  max-width: 1200px;
}
.navbar {
  display: flex;
  width: 100%;
  height: 108.333px;
  justify-content: center;
  background: var(--white);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);

  .row {
    display: flex;
    align-items: center;
  }
  .logo {
    background: url(../images/logo/logo.png) no-repeat;
    background-size: cover;
    width: 105px;
    height: 78px;
  }
  .menu {
    width: 1000px;
    display: inline-flex;
    align-items: center;
    gap: 50px;
    padding-left: 200px;
    .item {
      color: var(--content, #2c2c2c);
      font-family: Inter;
      font-size: 16.667px;
      font-style: normal;
      font-weight: 600;
      line-height: 21.667px; /* 130% */
    }
    .cart-link {
      position: relative;
      .cart-number {
        width: 13.333px;
        height: 13.333px;
        flex-shrink: 0;
        fill: var(--orange-700, #e05000);
        background-color: #e05000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -0.3rem;
        left: 2rem;
      }
      p {
        color: var(--white, #fff);
        font-family: Inter;
        font-size: 10.833px;
        font-style: normal;
        font-weight: 500;
        line-height: 20.417px; /* 188.462% */
        width: 7.333px;
        height: 16.667px;
        flex-shrink: 0;
      }
    }
  }
}
.welcome {
  display: flex;
  justify-content: center;
  height: 800px;

  .container {
    width: 1200px;
  }
  .text-introduce {
    width: 514px;
    height: 275.833px;
    position: relative;
    left: 0;
    top: 18rem;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
      color: var(--Content, #2c2c2c);
      font-family: Inter;
      font-size: 36.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%; /* 48.225px */
    }
    span {
      color: var(--Content, #2c2c2c);
      font-family: Inter;
      font-size: 43.333px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    p {
      color: var(--Content, #2c2c2c);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px; /* 127.604% */
    }
  }
  .background {
    width: 705.833px;
    height: 708.333px;
    position: absolute;
    right: 0;
    border-radius: 16.667px 0px 0px 16.667px;
    background: var(--green-200, #dcffca);
  }
  .img-chop {
    position: absolute;
    z-index: 1;
    left: 62rem;
    top: 8rem;
    display: flex;
    align-items: center;

    img {
      width: 717.402px;
      height: 719.029px;
    }
  }
  .text-chop {
    width: 676.141px;
    transform: rotate(90deg);
    color: var(--green-1000, #216000);
    font-family: Inter;
    font-size: 166.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 166.667px */
    opacity: 0.15;
    position: absolute;
    z-index: 1;
    right: -15rem;
    top: 35rem;
  }
}
.manager {
  width: 100%;
  display: flex;
  justify-content: center;
  .manager-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 105px;
  }
  .manager-title h2 {
    padding-left: 320px;
    padding-right: 321px;
    color: var(--content, #2c2c2c);
    text-align: center;
    font-family: Inter;
    font-size: 31.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%; /* 41.649px */
  }
  .manager-title p {
    padding-left: 278px;
    padding-right: 278px;
    color: var(--Content, #2c2c2c);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.417px; /* 127.604% */
  }
  .achievement {
    padding-left: 82.5px;
    padding-right: 82.5px;
    display: flex;
    justify-content: center;
    gap: 50px;
    .trust {
      width: 294.167px;
      height: 337.5px;

      border-radius: 3.333px;
      background: var(--white, #f02222);
      box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 28px;
      .trust-bg-logo {
        border-radius: 10px;
        background: var(--orange-100, #fff0e7);
        width: 83.333px;
        height: 83.333px;
        flex-shrink: 0;
        margin-top: 60px;
        margin-left: 33px;
        display: flex;
        justify-content: center;
      }

      span {
        width: 275px;
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 43.333px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 33px;
        padding-right: 38px;
      }
      p {
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.833px; /* 154.167% */
        width: 274.167px;
        margin-left: 33px;
        padding-right: 38px;
      }
    }
    .service {
      border-radius: 3.333px;
      background: var(--white, #08c781);
      box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
      width: 342.5px;
      height: 392.5px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .service-bg-logo {
        width: 83.333px;
        height: 83.333px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--Green-100, #f2ffec);
        margin-top: 60px;
        margin-left: 33px;
        display: flex;
        justify-content: center;
      }

      span {
        width: 275px;
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 43.333px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 33px;
        padding-right: 38px;
      }
      p {
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.833px; /* 154.167% */
        width: 274.167px;
        margin-left: 33px;
        padding-right: 15px;
      }
    }
    .coverage {
      margin-top: 28px;
      border-radius: 3.333px;
      background: var(--white, #000fdc);
      box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
      width: 294.167px;
      height: 337.5px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .trust-bg-logo {
        border-radius: 10px;
        background: var(--orange-100, #fff0e7);
        width: 83.333px;
        height: 83.333px;
        flex-shrink: 0;
        margin-top: 60px;
        margin-left: 33px;
        display: flex;
        justify-content: center;
      }

      span {
        width: 275px;
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 43.333px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 33px;
        padding-right: 38px;
      }
      p {
        color: var(--Content, #2c2c2c);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.833px; /* 154.167% */
        width: 274.167px;
        margin-left: 33px;

        padding-right: 38px;
      }
    }
  }
}
