/*
transition: 
- Nhóm thuộc tính giúp thiết lập thời gian chuyển động của thành phần html, được áp dụng để xây dựng các hiệu ứng
- Chỉ áp dụng với các thuộc tính css có giá trị là số

Các thuộc tính: 
- transition-property: all | cac-thuoc-tinh-css (Mỗi thuộc tính cách nhau bởi dấu ,)
- transition-duration: number + unit (s,ms) -> Thiết lập thời gian chuyển động
- transition-delay: number + unit (s,ms) -> Thiết lập delay trước khi hiệu ứng chuyển động
- transition-timing-function: Thiết lập tốc độ chuyển động theo quãng đường
- transition: property duration delay timing-function
*/
.box h1 {
  color: red;
  border: 1px solid red;
  height: 40px;
  /* transition-property: padding-left, color, height; */
  /* transition-duration: 1s; */
  /* transition-delay: 1s; */
  /* transition-timing-function: cubic-bezier(0.39, 0.575, 0, 1); */
  transition: 0.4s linear;
  transition-property: padding-left, color, height;
}

.box h1:hover {
  padding-left: 100px;
  color: green;
  height: 60px;
}
