* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  color: #2c2c2c;
  line-height: 1.27;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

:root {
  --grey-1000: #3d3c3c;
  --grey-900: #515151;
  --grey-800: #656565;
  --grey-700: #7a7a7a;
  --grey-600: #8e8e8e;
  --grey-500: #a3a3a3;
  --grey-400: #b7b7b7;
  --grey-300: #cbcbcb;
  --grey-200: #e0e0e0;
  --grey-100: #f4f4f4;
  --green-1000: #216000;
  --green-900: #2e8900;
  --green-800: #46b20f;
  --green-700: #63db25;
  --green-600: #81ff41;
  --green-500: #98ff64;
  --green-400: #aeff86;
  --green-300: #c5ffa8;
  --green-200: #dcffca;
  --green-100: #f2ffec;
  --orange-1000: #662400;
  --orange-900: #8e3300;
  --orange-800: #b74200;
  --orange-700: #e05000;
  --orange-600: #ff6916;
  --orange-500: #ff8440;
  --orange-400: #ff9f6a;
  --orange-300: #ffba94;
  --orange-200: #ffd5bd;
  --orange-100: #fff0e7;
  --main-color: var(--green-800);
  --content: #2c2c2c;
  --white: #fff;
  --max-width: 1440px;
}

.welcome {
  display: flex;
  justify-content: center;
  height: 800px;
}
.welcome .container {
  width: 100%;
}
.welcome .welcome-inside {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.welcome .welcome-inside .text-introduce {
  width: 86%;
  height: 275.833px;
  position: relative;
  left: 0;
  top: 18rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.welcome .welcome-inside .text-introduce h2 {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 36.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 48.225px */
}
.welcome .welcome-inside .text-introduce span {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.welcome .welcome-inside .text-introduce p {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
}
.welcome .welcome-inside .background {
  width: 47%;
  height: 708.333px;
  position: absolute;
  right: 0;
  border-radius: 16.667px 0px 0px 16.667px;
  background: var(--green-200, #dcffca);
}
.welcome .welcome-inside .img-chop {
  position: absolute;
  z-index: 1;
  left: 62rem;
  top: 8rem;
  display: flex;
  align-items: center;
}
.welcome .welcome-inside .img-chop img {
  height: 719px;
}
.welcome .welcome-inside .text-chop {
  width: 47%;
  transform: rotate(90deg);
  color: var(--green-1000, #216000);
  font-family: Inter;
  font-size: 166.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 166.667px */
  opacity: 0.15;
  position: absolute;
  z-index: 1;
  right: -20rem;
  top: 35rem;
}

@media screen and (max-width: 1400px) {
  .text-chop {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .welcome .welcome-inside .text-introduce {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .welcome .welcome-inside .text-introduce span {
    font-size: 410%;
  }
  .welcome .welcome-inside .text-introduce h2 {
    font-size: 400%;
  }
  .welcome .welcome-inside .text-introduce p {
    font-size: 200%;
    line-height: 120%;
  }
  .welcome .welcome-inside .background {
    display: none;
  }
  .welcome .welcome-inside .img-chop img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .welcome .welcome-inside .text-introduce {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .welcome .welcome-inside .text-introduce span {
    font-size: 210%;
  }
  .welcome .welcome-inside .text-introduce h2 {
    font-size: 300%;
    padding: 0 30px;
    text-align: center;
  }
  .welcome .welcome-inside .text-introduce p {
    font-size: 150%;
    line-height: 120%;
    text-align: center;
    padding: 0 10%;
  }
  .welcome .welcome-inside .background {
    display: none;
  }
  .welcome .welcome-inside .img-chop img {
    display: none;
  }
}
.manager {
  width: 100%;
  display: flex;
  justify-content: center;
}
.manager .container {
  width: 100%;
}
.manager .manager-inside {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.manager .manager-inside .manager-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 105px;
}
.manager .manager-inside .manager-title h2 {
  padding-left: 320px;
  padding-right: 321px;
  color: var(--content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 41.649px */
}
.manager .manager-inside .manager-title p {
  padding-left: 278px;
  padding-right: 278px;
  color: var(--Content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
}
.manager .manager-inside .achievement {
  padding-left: 82.5px;
  padding-right: 82.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}
.manager .manager-inside .achievement .ellipse-5 {
  position: absolute;
  top: -90.5px;
  left: -35px;
  z-index: -1;
}
.manager .manager-inside .achievement .ellipse-6 {
  position: absolute;
  bottom: -90.5px;
  right: -35px;
  z-index: -1;
}
.manager .manager-inside .achievement .trust {
  width: 95%;
  height: 337.5px;
  border-radius: 3.333px;
  background: var(--white, #f02222);
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 28px;
}
.manager .manager-inside .achievement .trust .trust-bg-logo {
  border-radius: 10px;
  background: var(--orange-100, #fff0e7);
  width: 83.333px;
  height: 83.333px;
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 33px;
  display: flex;
  justify-content: center;
}
.manager .manager-inside .achievement .trust span {
  width: 89%;
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 33px;
  padding-right: 38px;
}
.manager .manager-inside .achievement .trust p {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px; /* 154.167% */
  width: 89%;
  margin-left: 33px;
  padding-right: 38px;
}
.manager .manager-inside .achievement .service {
  border-radius: 3.333px;
  background: var(--white, #08c781);
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  width: 111%;
  height: 392.5px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.manager .manager-inside .achievement .service .service-bg-logo {
  width: 83.333px;
  height: 83.333px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Green-100, #f2ffec);
  margin-top: 60px;
  margin-left: 33px;
  display: flex;
  justify-content: center;
}
.manager .manager-inside .achievement .service span {
  width: 89%;
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 33px;
  padding-right: 38px;
}
.manager .manager-inside .achievement .service p {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px; /* 154.167% */
  width: 89%;
  margin-left: 33px;
  padding-right: 15px;
}
.manager .manager-inside .achievement .coverage {
  margin-top: 28px;
  border-radius: 3.333px;
  background: var(--white, #000fdc);
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  width: 95%;
  height: 337.5px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 45px;
}
.manager .manager-inside .achievement .coverage .trust-bg-logo {
  border-radius: 10px;
  background: var(--orange-100, #fff0e7);
  width: 83.333px;
  height: 83.333px;
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 33px;
  display: flex;
  justify-content: center;
}
.manager .manager-inside .achievement .coverage span {
  width: 89%;
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 33px;
  padding-right: 38px;
}
.manager .manager-inside .achievement .coverage p {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px; /* 154.167% */
  width: 89%;
  margin-left: 33px;
  padding-right: 38px;
}

@media screen and (max-width: 1200px) {
  .manager .manager-inside .achievement {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ellipse-6 {
    display: none;
  }
  .ellipse-5 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .manager .manager-inside .manager-title h2 {
    font-size: 300%;
    padding: 0 100px;
  }
  .manager .manager-inside .manager-title p {
    font-size: 150%;
    padding: 0 100px;
  }
  .manager .manager-inside .achievement {
    display: flex;
    margin-right: 0px;
    align-items: center;
  }
  .manager .manager-inside .achievement .trust span {
    font-size: 23px;
  }
  .manager .manager-inside .achievement .trust p {
    font-size: 15px;
  }
  .manager .manager-inside .achievement .coverage {
    margin-left: 0;
  }
  .manager .manager-inside .achievement .coverage span {
    font-size: 23px;
  }
  .manager .manager-inside .achievement .coverage p {
    font-size: 15px;
  }
  .manager .manager-inside .achievement .service {
    margin-left: -20px;
  }
  .manager .manager-inside .achievement .service span {
    font-size: 20px;
  }
  .manager .manager-inside .achievement .service p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .manager .manager-inside .achievement {
    display: flex;
    margin-right: 0px;
    align-items: center;
    flex-direction: column;
  }
  .manager .manager-inside .achievement .trust span {
    font-size: 43px;
  }
  .manager .manager-inside .achievement .trust p {
    font-size: 20px;
  }
  .manager .manager-inside .achievement .coverage {
    margin-left: 0;
  }
  .manager .manager-inside .achievement .coverage span {
    font-size: 43px;
  }
  .manager .manager-inside .achievement .coverage p {
    font-size: 20px;
  }
  .manager .manager-inside .achievement .service {
    width: 85%;
    margin-left: 28px;
  }
  .manager .manager-inside .achievement .service span {
    font-size: 43px;
  }
  .manager .manager-inside .achievement .service p {
    font-size: 20px;
  }
}
.product {
  margin-top: 214px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.product .product-inside {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.product .product-inside h3 {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 41.649px */
  text-align: center;
}
.product .product-inside .product-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 71px;
  padding-right: 70px;
}
.product .product-inside .product-box .product-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 96px;
  position: relative;
  align-items: center;
}
.product .product-inside .product-box .product-item .product-donut {
  position: absolute;
  width: 240.117px;
  height: 241.148px;
  flex-shrink: 0;
  top: 114px;
}
.product .product-inside .product-box .product-item .info-product {
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}
.product .product-inside .product-box .product-item .info-product .product-combo {
  display: flex;
  width: 340.333px;
  height: 56.667px;
  padding: 0px 44.333px 0.667px 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
}
.product .product-inside .product-box .product-item .info-product .product-vector {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}
.product .product-inside .product-box .product-item .info-product .sl {
  color: var(--Grey-800, #656565);
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px; /* 130% */
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
.product .product-inside .product-box .product-item .info-product .product-price {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px; /* 130% */
  padding-top: 6.3px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.product .product-inside .product-box .product-item .info-product .product-price span {
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  margin-right: 5px;
  margin-left: 5px;
}
.product .product-inside .product-box .product-item .info-product button {
  border-radius: 6.667px;
  background: var(--green-800-main, #46b20f);
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  margin-top: 31px;
  margin-left: 78.5px;
  margin-right: 78.5px;
}
.product .product-inside .product-box .product-item .info-product button p {
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.news {
  margin-top: 32.67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .news-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.news .news-inside .news-title {
  color: var(--content, #2c2c2c);
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 41.649px */
}
.news .news-inside p {
  margin-top: 23px;
  width: 50%;
  color: var(--content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
}
.news .news-inside .news-box {
  margin-top: 28.83px;
  display: flex;
  gap: 23px;
  width: 100%;
}
.news .news-inside .news-box .news-item {
  display: flex;
  flex-direction: column;
}
.news .news-inside .news-box .news-item img {
  width: 97%;
  height: 273.333px;
  flex-shrink: 0;
}
.news .news-inside .news-box .news-item h4 {
  width: 99%;
  color: var(--content, #2c2c2c);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 18.5px;
  line-height: 26.667px; /* 133.333% */
}
.news .news-inside .news-box .news-item p {
  width: 98%;
  color: var(--content, #2c2c2c);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
  margin-top: 16px;
  text-align: left;
}
.news .news-inside .news-box .news-item .calendar {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.news .news-inside .news-box .news-item .calendar p {
  color: var(--green-800-main, #46b20f);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  margin: 0;
  width: 70%;
}
.news .news-inside .news-box .news-item .calendar span {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 35%;
}
.news .news-inside .news-box .news-item .calendar span img {
  width: 20px;
  height: 20px;
}
.news .news-inside .news-box .news-item .calendar span p {
  color: var(--grey-500-main, #a3a3a3);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  margin: 0;
}
.news .news-inside button {
  margin-top: 80px;
  border-radius: 6.667px;
  border: 0.833px solid var(--green-800-main, #46b20f);
  display: flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  color: var(--Content, #2c2c2c);
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1400px) {
  .news .news-inside .news-box {
    margin-top: 28.83px;
    display: flex;
    gap: 23px;
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .news .news-inside .news-box .news-item .calendar p {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .news .news-inside .news-box {
    flex-direction: column;
  }
  .news .news-inside .news-box .news-item .calendar p {
    width: 80%;
  }
}
.protect {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.protect .container {
  width: 100%;
}
.protect .protect-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.protect .protect-inside .feature-bg {
  border-radius: 8.333px;
  background: var(--orange-100, #fff0e7);
  width: 127%;
  height: 360.833px;
  flex-shrink: 0;
  position: absolute;
  z-index: -1;
  bottom: -115px;
}
.protect .protect-inside h2 {
  color: var(--content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 41.649px */
}
.protect .protect-inside p {
  margin-top: 24px;
  color: var(--content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
  width: 745px;
  height: 53.333px;
  flex-shrink: 0;
}
.protect .protect-inside .feature {
  width: 100%;
  height: 359.167px;
  flex-shrink: 0;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.protect .protect-inside .feature .feature-items {
  border-radius: 8.333px;
  background: var(--white, #fff);
  width: 90.25%;
  height: 359.167px;
  flex-shrink: 0;
}
.protect .protect-inside .feature .feature-items .description {
  width: 81%;
  height: 75px;
  flex-shrink: 0;
  margin-top: 24px;
}
.protect .protect-inside .feature .feature-items .description h5 {
  color: var(--orange-700, #e05000);
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px; /* 133.333% */
  width: 100%;
  padding-left: 27.5px;
}
.protect .protect-inside .feature .feature-items .description p {
  width: 115%;
  height: 41.667px;
  flex-shrink: 0;
  color: var(--content, #19191b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
  margin: 0;
  padding-left: 27.5px;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .protect .protect-inside .feature {
    align-items: center;
    width: 100%;
    margin-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .protect .protect-inside .feature {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
body {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 108.333px;
  justify-content: center;
  background: var(--white);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}
.navbar .container {
  width: 100%;
}
.navbar .navbar-inside {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .navbar-inside .logo img {
  background-size: cover;
  width: 105px;
}
.navbar .navbar-inside .menu {
  display: inline-flex;
  align-items: center;
  gap: 50px;
  padding-left: 20%;
}
.navbar .navbar-inside .menu .item-1 {
  display: inline-flex;
  align-items: center;
  gap: 50px;
}
.navbar .navbar-inside .menu .item {
  color: var(--content, #2c2c2c);
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px; /* 130% */
}
.navbar .navbar-inside .menu .tbars {
  display: none;
  font-size: 130%;
}
.navbar .navbar-inside .menu .cart-link {
  position: relative;
}
.navbar .navbar-inside .menu .cart-link .cart-number {
  width: 13.333px;
  height: 13.333px;
  flex-shrink: 0;
  fill: var(--orange-700, #e05000);
  background-color: #e05000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.3rem;
  left: 2rem;
}
.navbar .navbar-inside .menu .cart-link p {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 10.833px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.417px; /* 188.462% */
  width: 7.333px;
  height: 16.667px;
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
  .navbar .navbar-inside .menu {
    padding-left: 5%;
  }
}
@media screen and (max-width: 992px) {
  .navbar #checkbox:checked ~ .navbar-inside .item-1 {
    transform: translateY(0px);
  }
  .navbar .navbar-inside .menu {
    padding-left: 70%;
  }
  .navbar .navbar-inside .menu .item-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #e05000;
    top: 75px;
    right: 0;
    width: 100%;
    transform: translateY(-400px);
  }
  .navbar .navbar-inside .menu .tbars {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar #checkbox:checked ~ .navbar-inside .item-1 {
    transform: translateY(0px);
  }
  .navbar .navbar-inside .menu .cart-link {
    display: none;
  }
  .navbar .navbar-inside .menu .items {
    display: none;
  }
  .navbar .navbar-inside .menu .item-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #e05000;
    top: 75px;
    right: 0;
    width: 100%;
    transform: translateY(-400px);
  }
  .navbar .navbar-inside .menu .tbars {
    display: block;
    position: absolute;
    right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
